[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = { git = "https://github.com/hynek/argon2_cffi.git", ref = "8eed81a", editable = true }

[dev-packages]

[requires]
